---
import { SITE } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro'
import PostPreview from '../components/PostPreview.astro';
import Pagination from '../components/Pagination.astro';
import authorData from '../data/authors.json';

const title = `Page not found 404 | ${SITE.title}`;
let description = SITE.description;
let canonicalURL = Astro.canonicalURL;
---

<BaseLayout {title} {description} {canonicalURL}>
	<h1 class="text-3xl">Page not found</h1>
  <p class="prose">The page you were looking for doesn't exist. Return to <a href="/">Home</a>.</p>
</BaseLayout>