<footer class="flex w-full bg-gradient-to-br from-molecule to-purple-400 px-4 sm:px-8 items-center text-white justify-center py-16">
  <div class="w-full max-w-screen-xl flex flex-col sm:flex-row sm:justify-between sm:items-center">
    <div>
      <a href="/">
        <img class="h-10" src="/images/molecule_logo.svg">
      </a>
      <div class="mt-1.5">Building technical frameworks & tools <br>for BioDAOs and DeSci</div>
    </div>

    <div class="mt-4 sm:mt-0">
      <ul>
        <li><a class="underline" target="_blank" href="https://molecule.to/">Molecule Website</a></li>
        <li><a class="underline" target="_blank" href="https://discord.gg/uAGW7K4hQU">Join our Discord</a></li>
      </ul>
    </div>
  </div>
</footer>