<footer class="flex w-full bg-black px-8 items-center text-white justify-center py-16">
  <div class="flex items-center w-full max-w-screen-xl justify-between">
    <a href="/">
      <img class="h-10" src="/images/molecule_logo.svg">
    </a>
  </div>
</footer>