<nav class="bg-molecule w-full py-4 flex px-8 items-center text-white justify-center sticky top-0">
  <div class="flex items-center w-full max-w-screen-xl justify-between">
    <a href="/">
      <img class="h-10" src="/images/molecule_logo.svg">
    </a>

    <div>Engineering Blog</div>
  </div>
</nav>