---
export interface Props {
	prevUrl: string;
	nextUrl: string;
}

const { prevUrl, nextUrl } = Astro.props;
---

<nav class="flex justify-between uppercase mt-10">
	<a class="prev hover:underline" href={prevUrl || '#'} aria-label="Previous Page">&#8592; Prev</a>
	<a class="next ml-auto hover:underline" href={nextUrl || '#'} aria-label="Next Page ">Next &#8594;</a>
</nav>


<style lang="scss">
.prev,
.next {
	&[href='#'] {
		display: none;
	}
}
</style>
